<div id="wrapper">
  <h1>Articles</h1>
  <h2><i>You can view and also add notes to articles by clicking on them.</i></h2>
  <div id="articles"></div>
  <div id="notes"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>